/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

*.DS_Store
Gemfile.lock

# Don't accidentally check in builds or unpacked builds of this gem
pcloud_api-*.gem
pcloud_api-*/
